<div class="row">
  <div class="col"><span>&nbsp;</span></div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
      <div class="row">
          <ng-container *ngFor="let product of products; let i = index">
            <div class="col">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" [src]="product.productImgUrl">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.productTitle }}</h5>
                        <p class="card-text">{{ product.productDescription }}</p>
                        <p class="card-text">Price: {{ product.price | currency}}</p>
                        <button mat-raised-button color="primary">
                          Add to Cart
                          <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                  </div>
            </div>
            <div *ngIf="(i+1)%3===0" class="w-100"></div>
          </ng-container>
        </div>
  </div>
</div>

