<button [@fadeSearchButton]="isSearchButtonFadeOut ? 'fadeOut': 'fadeIn'" class="searchButton" mat-mini-fab color="accent" (click)="switchBoth()" [disabled]="isSearchButtonDisabled">
  <mat-icon>search</mat-icon>
</button>

<div [@fade]="atOldPlace ? 'oldplace' : 'newplace'" class="alert alert-warning" >
  <mat-form-field class="example-full-width">
    <input matInput placeholder="What are you looking for today?" autocomplete="off" [(ngModel)]="searchTerm" (keyup)=onInputChange()>
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Something like Peanuts</mat-hint>
  </mat-form-field>
  <div *ngIf=searchResults>
    <div *ngFor="let searchResult of searchResults">
      <div class="resultsHover" (click)="redirect(searchResult)" >{{ searchResult.tag }}</div>
      <hr>
    </div>
  </div>
</div>