<div class="row">
  <div class="col-2">
  
  </div>
  <div class="col-5">
    <form [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Title" autocomplete="off" formControlName="productTitle">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Description" autocomplete="off" formControlName="productDescription">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Price" autocomplete="off" formControlName="productPrice">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ImgUrl" autocomplete="off" formControlName="productImgUrl">
      </mat-form-field>
    </form>
  </div>
  <div class="col-5">

  </div>
</div>